@*//Amazon Books Project Start: February 11th, 2022*@


@{
    ViewBag.Title = "Home Page";
}
@model BookViewModel


@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}


@*<div page-class="btn" page-class-normal="btn-outline-dark" page-class_selected="btn-primary"
	page-class-enabled="true" class="btn-group pull-right m-1" ></div>*@

<div page-number="@Model.PageInfo" page-action="Index" page-class-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1" ></div>

