@page
@model AmazonBooks2.Pages.CheckoutCompletedModel
@{
}

<div class="text-center">
    <h2>Your order is complete.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home</a>
</div>

