

@page
@model AmazonBooks2.Pages.OrderCompletedModel
@{
}
<!--//Jessica Kinghorn
//Amazon Books Project Start: February 11th 2022-->


<div class="text-center">
    <h2>Your order has been received! Have a wonderful day!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home</a>
</div>
