@inherits LayoutComponentBase

<div class="bg-info text-white p-2">

    <div class="container-fluid">

        <div class="row">

            <div class="col">

                <span class="navbar-brand m-lg-2">Amazon Books Administration</span>

            </div>

            <div class="col-2 text-right">
                <a class="btn btm-sm btn-primary" href="/account/logout">Log Out</a>
            </div>

        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3 ">
            
            <div class="d-grid gap-2">

                <div class="card" style="width:18rem;">

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <NavLink class="" href="/admin/books"
                                     ActiveClass="btn-primary @*text-white*@" Match="NavLinkMatch.Prefix">
                                Books
                            </NavLink>
                        </li>

                        <li class="list-group-item">
                            <NavLink class="" href="/admin/orders"
                                     ActiveClass="btn-primary @*text-white*@" Match="NavLinkMatch.Prefix">
                                Orders
                            </NavLink>
                        </li>
                    </ul>
                </div>



                <div class="toast show p-1" style="width:18rem;">
                    <div class="toast-header">
                        Administration

                    </div>
                    <div class="toast-body p-1">
                        Click Books to see all the books in the database.
                        Click Orders to see all orders, shipped and unshipped.
                    </div>
                </div>

                <div style="width:18rem;">
                    <blockquote class="blockquote text-center p-1">
                        <p class="mb-0">Books aren’t dying, they’re just going digital.</p>
                        <br />
                        <footer class="blockquote-footer">Jeff Bezos</footer>
                    </blockquote>
                </div>

            </div>


        </div>

        <div class="col bg-body">
           
            @Body

        </div>

    </div>

</div>